@page "/InventoryTrackingSystem"
@using Microsoft.Extensions.Localization
@using global::InventoryTrackingSystem.Localization
@inject IStringLocalizer<InventoryTrackingSystemResource> L
@{
}
<h1>InventoryTrackingSystem</h1>
<p>@L["SamplePageMessage"]</p>