@page
@using Microsoft.Extensions.Localization
@using InventoryTrackingSystem.Localization
@using InventoryTrackingSystem.Web.Pages.InventoryTrackingSystem
@model InventoryTrackingSystem.Web.Pages.InventoryTrackingSystem.IndexModel
@inject IStringLocalizer<InventoryTrackingSystemResource> L

@{
}
<h1>InventoryTrackingSystem</h1>
<p>@L["SamplePageMessage"]</p>
